$bluebg: #19a1db;
$bluelink: #0087c1;
$red : #ea0000;
$black1: #343434;

$Arial:     Arial, sans-serif, Verdana;
@mixin box-sizing($val) {box-sizing: $val; -moz-box-sizing: $val; -webkit-box-sizing: $val;}
@mixin border-radius($radius) {border-radius: $radius;}
*{margin:0; padding:0;}
a {color:inherit; text-decoration: none;}
img {border:none; max-width: 100%;}
li {list-style-type: none; }
body {font:normal 15px $Arial; color:$black1; background: #e5e5e5; position: relative;}
.inner {width:1000px; margin:auto;}
.left {float:left;}.right {float: right;}
.clear,.clearfix {clear:both;}
.clearfix:after {content: "";display: table;clear: both;}
.checkbox {width: 23px;height: 23px;padding: 0 5px 0 0;background: url(../images/icons/checkbox.png) no-repeat 0 0;display: block;clear: left;float: left;}
.radio {/* background: url(../images/icons/radio.png) no-repeat; */}
.select {position: absolute;padding: 0 30px 0 10px;background: url(../images/icons/select.png) no-repeat right center;overflow: hidden;}
select option {padding-left: 5px;}
#content { @extend .clearfix;}
.col-left {float: left; width: 212px; margin-right: 14px;margin-top:15px;}
.main-content {width: 774px; float: left;margin-top:15px;}
.col-right {float: right; width: 286px; margin-left: 14px;}
.col-mid {width: 474px; float: left; background: #fff; }
.block-title {background: $bluebg; height: 34px; line-height: 34px; padding: 0 10px; text-transform: uppercase; color:#fff;
	h3 {font-weight: normal; font-size: 15px;}
}
.block, .block-adv {margin-bottom: 15px;}
.block {background: #fff;}
.ratings {background: url(../images/icons/no-rating1.png) repeat-x 0 0; height: 11px; display: block; width: 56px; margin:3px 0;
    .rating-per {background: url(../images/icons/rating1.png) repeat-x 0 0; height: 11px; display: block;}
}
.ratings1 {background: url(../images/icons/no-rating.png) repeat-x 0 0; height: 18px; display: block; width: 90px; margin:5px 0;
	.rating-per1 {background: url(../images/icons/rating.png) repeat-x 0 0; height: 18px; display: block;}
}
.ul-button-green,.free-button,.dl-button-org,.dl-button-bl,.freeblack,.dl-button-black {display: inline-block;text-align: center; text-transform: uppercase;color:#fff;}
.free-button {border-radius: 2px; background: url(../images/free-button.png) 0 0 repeat-x; height: 23px; line-height: 23px;min-width: 30px; padding:0 7px;font-size: 13px; }
.dl-button-org,.submit-org{border-radius: 2px; background: url(../images/download.png) repeat-x 0 0; height: 33px; line-height: 33px; width: 116px; font-size: 15px;}
.submit-org {cursor: pointer; height: 29px; line-height: 29px; width: 81px; border: none; color: #fff; }
.dl-button-bl,.dl-button-black {background: url(../images/download2.png) repeat-x 0 0; height: 26px; line-height: 26px; width: 81px; font-size: 14px; text-transform: none; color: #fff;}
.dl-button-black {background: #535353;}
.ul-button-green {text-transform: none; background: url(../images/upload-green.png) repeat-x 0 0; color: #fff;width: 109px; height: 32px; line-height: 33px;}
.continue-r {@extend .dl-button-org; width: 98px;}
.downtimes {background: url(../images/icons/dl.png) no-repeat 0 center; padding-left:15px; font-size: 14px;}
.freeblack {background: $black1; padding:0 5px;width: 64px; text-align: center; height: 24px; line-height: 24px; border-radius: 3px;font-size: 13px;}
.blue-button {background: #009fe1; color: #fff; font-size: 16px; text-align: center; height: 32px; line-height: 32px; padding:0 17px; border-radius: 3px; border:none;}
.dark-button {display: inline-block; background: #343434; color: #fff; font-size: 13px; text-align: center; height: 29px; line-height: 29px; padding:0 8px; border-radius: 3px; border:none;}
.wishlist-button {display: inline-block; background: url(../images/wishlist.png) repeat-x 0 center; color: #fff; text-align: center; height: 32px; line-height: 32px; padding:0 15px; border-radius: 3px; border:none;}
.setup-button {border-radius: 2px; display: inline-block; background:$bluebg; font-size: 15px; text-transform: uppercase; height: 35px; line-height: 35px; width: 90px; text-align: center; color: #fff;}

.sharetool {white-space: nowrap; display: inline-block; margin:5px 0; width: 310px; height: 25px; 
    a.addthis_button_google_plusone > div{width: 60px !important}
    .addthis_default_style .addthis_counter {float: none !important}
}
.detail-ct {background: #fff;}
.tab-app {@extend .clearfix; margin-top: 5px; background: #e5e5e5;
    li{float: left; margin-right: 5px; color: #fff; background:#535353; text-align: center; height: 35px; padding:0 25px; line-height: 35px; border-radius: 4px 4px 0 0;
        &.active {height: 41px; line-height: 41px; margin-top: -6px; background: #19a1db; font-size: 18px;}
    }
}
.tab-container {padding:15px; background: #fff;}
.tab-content {display: none;
    &.active {display: block}
}
.desc-text {
    h4 {color:$bluelink; margin-bottom: 5px;}
    p{margin-bottom: 10px;}
    ul,ol {
        li {list-style-type: inherit;}
    }
}
a.viewless, a.viewmore {color: $bluelink; }
a.viewless {display: none;}
.slider4 {position: relative; padding:0 34px 15px; }