@import "modules.scss";
/* startup page */
.startup {background: url(../images/home-bg.jpg) repeat 0 0; background-size: 100%; @extend .clearfix; color:#fff;
	.inner {width: 985px; margin:auto; padding:100px 0; text-align: center;}
	.logo {margin-bottom: 90px;}
	.listpages{ @extend .clearfix;
		li{float: left; padding:17px 17px 26px; width: 157px; margin:0 3px;
			a.title-page {font-size: 11px; width: 169px; height: 45px; text-align: center; line-height: 45px; margin-top: 40px; display: block; background: url(../images/startup-button.png) no-repeat 0 0;
				&.coming {background-position: 0 bottom;}
			}
			&:hover{background:url(../images/overlay.png) repeat 0 0; border-radius: 5px;
				a.title-page {background-position: 0 -64px;
				}
			}
		}
	}
	.home-copyright {font-size: 15px;margin-top: 110px;}
}
/* Home page */
#header {}
.top-header{background: $black1; height: 37px; width: 100%;
	ul { float: right;
		li {float: left; display: inline-block; margin-right: 10px; color:#fff; line-height: 37px;
			> a > img {margin-top:3px;}
			.inline{padding: 0 5px; white-space: nowrap;}
			&:last-child {margin-right: 0;
				.inline {padding-right: 0;}
			}
			&.upload {border-radius:4px; margin:5px 0 30px;background: url(../images/upw.png) no-repeat 5px center #19a1db; padding-left: 20px; height: 25px; line-height: 25px; padding-right: 10px;
				&:hover{opacity: 0.8;
					a {color: #fff;}
				} 
			}
			&.user {
				img {width: 31px; height: 31px; border-radius: 4px; margin-left: 15px;}
			}
		}
	}
	.popup-form {display: none;}
}
.mid-header {height: 56px; padding:15px 0;
	.inner {@extend .clearfix;}
	.logo {width: 467px; float: left;
		strong{display: none;}
		img{max-height: 56px; max-width: 389px;}
	}
}
.top-search{background: #fff; float: right; width: 531px; margin:5px 0;height: 40px; border: 1px solid #b3b3b3; 
	.input-search{float: left; width: 270px; line-height: 40px\9; height: 40px; outline: none; padding-left: 25px; border: none;}
	span.select {width: 138px; height: 40px; line-height: 40px; @include box-sizing(border-box);}
	select{width: 138px; height: 40px; white-space: nowrap; text-overflow:ellipsis; padding-left: 10px; border: none;  outline: none;}
	button{margin-top: -1px; border: none;float: right; background:url(../images/icons/search.png) no-repeat center center $bluebg; color:#fff; width: 98px; height: 42px; text-indent: -99999px; }
}
.main-menu { background: #2a2a2a; height: 55px;
	li{float: left; padding:0 16.9px; color: #fff; line-height: 55px; border-left: 1px solid #5f5f5f; white-space: nowrap;
		img {vertical-align: middle; padding-right: 9px;}
		&:hover,&.active {background: #424242;}
		&:last-child {padding-right: 5px; float: right;
			img {padding-right: 0;}
		}
	}
}
/* end header */
/* col left */
.block-top {  margin-bottom: 28px; padding-bottom: 10px;
	.block-title {background: url(../images/icons/title-top.png) no-repeat right center $bluebg;
		h3 {font-size: 17px; text-transform: none; font-weight: 400;}
	}
	ul {padding: 10px; max-height: 403px; overflow:hidden;
		li { margin-bottom: 13px;
			a {
				&:hover,&.active{color: $bluelink;}
			}
		}
	}
	a.viewless, a.viewmore {color: $bluelink; display: block; padding-left: 10px;}
	a.viewless {display: none;}
}
.fanpage {
	.block-title h3 {font-size: 13px;}
}
.tt-mt {
	ul{ padding: 15px 0;
		li { padding-left: 25px;padding-right: 10px; padding-bottom: 10px; margin-bottom: 10px; border-bottom: 1px solid #e2e2e2; background: url(../images/icons/blue-dot.png) no-repeat 10px 7px; clear: both;
			a {color: $black1;
				&:hover {color: $bluebg;}
			}
			&:last-child {margin-bottom: 0; padding-bottom: 0; border-bottom: none;}
		}
	}
}
.app-mobile {
	ul{margin-top: 15px;
		li { padding-bottom: 10px; margin-bottom: 10px; border-bottom: 1px solid #e2e2e2; 
			img {margin-left: 5px; float: left; width:61px; height: 61px; margin-right: 5px; }
			.details { overflow: hidden;
				.name-app {width: 141px; overflow: hidden; white-space: nowrap;text-overflow:ellipsis; font-weight: normal; font-size: 14px; text-transform: uppercase;}
				p {font-size: 13px; color:#797979;}
			}
		}
	}
}
/* main content */
.home-slider { margin-bottom: 15px;
	.flex-viewport {
		img {border: 4px solid #252525; border-radius: 5px; width: 766px; height: 319px;}

	}
}
/* mid app block */
.app-block {
	.app-block-content {padding:15px 7px;}
	h3.title {margin-bottom:5px; font-size: 20px; font-weight: normal; line-height: normal;}
	a.thumb {float: left; display: inline-block; overflow: hidden; width: 150px; height: 160px; text-align: center;
		img {float: left; padding-right:30px; padding-bottom: 10px; max-width: 100%; max-height: 100%; vertical-align: middle;}
	}
	.info {
		.top-info {@extend .clearfix; display: inline-block;}
		p {margin-bottom: 5px;}
		.left {width: 147px;
			a {vertical-align: middle; line-height: 23px; color: $bluelink;}
			.free-button {margin-right: 5px; color: #fff;}

		}
		.right{width: 147px;
			.dl-button-org {margin-bottom: 5px;}
		}
		.smallt {font-size: 13px;
			strong {font-size: 15px;}
		}
		.producer {display: block; clear: both;}
		.tag { margin-top: 8px;
			a {color: $bluelink; font-size: 13px;
				&:hover {color: $black1;}
			}
		}
	}	
}
.highline {margin-bottom: 25px;
	li {
		border-bottom: 1px dotted $black1; padding:2px 0;
		&:first-child {border-top: 1px dotted $black1;}
		.number {display: inline-block;width: 26px; height: 26px; line-height: 26px; text-align: center; margin:0 5px; background: url(../images/icons/li.png) no-repeat 0 0;}
		.downtimes {background: url(../images/icons/dl1.png) no-repeat 0 center; float: right; color: $red; padding-right: 5px; line-height: 26px;}
	}
}
.newest-app {
	.app-block {border-bottom: 1px dotted $black1;
		&.last {border-bottom: none;}
	}
}
.most-download {
    ul {padding:10px 5px;
        li {@extend .clearfix; border-bottom: 1px solid #e5e5e5;padding-bottom: 15px; margin-bottom: 15px;
            .thumb {
                img {float: left; margin-right: 5px; width: 63px;}
            }
            .details {overflow: hidden;
                h4.name-app {font-size: 17px;}
                .downtimes {color: #797979; background: none; padding-left: 0; margin: 5px 0;}
                .sharelink {color: $bluelink; font-size: 14px;}
            }
            &:last-child {border-bottom: none;}
        }
    }
}
.tag-links {
    .tags-content {padding:15px;
    	a {color: #535353;
    		&:hover {color: $bluebg}
    	}
    }
}
.adv-horizontal {@extend .clearfix; background: #fff; padding:15px; border-radius: 4px; max-width: 744px; margin-top: 20px;float: left;
	a {display: inline-block;vertical-align: top;}
}
.footer-tags {@extend .clearfix; margin-top: 40px; margin-bottom: -30px; text-align: center; padding:0 10px;
	a {color: #0087c1; font-size: 14px; line-height: 22px;
		&:hover {color: $black1;}
	}
}
#footer {background: $black1; height: 120px; position: relative;margin-top: 30px;
	.footer-menu {  padding:33px 0; @extend .clearfix;
		li{float: left; padding-left: 15px; margin-left: 15px; color: #e5e5e5; text-transform: uppercase;
			&:hover,&.active {color: $bluebg;}
		}
	}
	.copyright {background: #242424; height: 37px; line-height: 37px; color: #e5e5e5;}
}
#closepop {cursor: pointer; display: inline-block; background: url(../images/icons/close.png) no-repeat 0 0; width: 12px; height: 12px; float: right; margin-right: 1px; margin-top: 10px}
#pop-app { position: fixed;  bottom: 0; left:0; z-index: 10; background: #fff; width: 325px; height: 174px; -webkit-box-shadow: 2px 2px 1px 0px rgba(0, 0, 0, 0.75);
-moz-box-shadow: 2px 2px 1px 0px rgba(0, 0, 0, 0.75);box-shadow:2px 2px 1px 0px rgba(0, 0, 0, 0.75); border-radius: 0 0 10px 10px;
	.block-title {
		h3 {text-transform: none; display: inline-block; font-size: 19px;}
	}
	.pop-app-slider { position: relative;
		li { padding-top: 5px;
			.thumb {margin:8px; display: inline-block; float: left; width: 112px; height: 112px;
				img {width: 112px; height: 112px;}
			}
			.details { overflow: hidden; height: 81px; padding-top: 10px; padding-bottom: 30px; position: relative;
				.name-app {text-transform: none; font-size: 14px; text-transform: uppercase;}
				.com {font-size: 14px; color: #797979; margin-bottom: 10px; margin-top: 2px;}
				.freeblack {position: absolute; bottom: 0; left:0;}
			}
		}
		.flex-direction-nav {
			width: 56px; height: 28px; position: absolute; display: block; right:18px; bottom: 5px;
			li { display: inline-block; float: left; padding:0;
				a {opacity:1; position: static; background:url(../images/icons/next-pre-small.png) no-repeat 0 0; margin-right: 2px; float: left; margin-top: 0; width: 26px; height: 26px;
					&:hover {background-position: right top;}
					&.flex-next {background-position: 0 bottom;
						&:hover {background-position: right bottom}
					}
				}
			}
		}
	}
}
/* Popup */
.popup-form {
    form { padding:25px 38px;}
    p {margin-bottom: 15px;}
    input { border:1px solid #d9d8d8; height: 30px; line-height: 30px\9; padding-left: 40px; background: url(../images/icons/form.png) no-repeat 0 0; font-size: 13px; 
        &.name {background-position: 0 0;}
        &.email {background-position: 0 -42px;}
        &.password {background-position: 0 -85px;}
        &.repassword {background-position: 0 -127px;}
        &.savepass + label {font-size: 12px; line-height: 23px;}
    }
    textarea { background: url(../images/icons/form.png) no-repeat 0 -167px; width: 100%; height: 110px; resize:none; padding:10px 10px 0 40px; border:1px solid #d9d8d8; box-sizing: border-box;}
    .bottom-form {background:#dfdfdf; height: 28px; padding:9px 0 9px 12px; @extend .clearfix;
        .dark-button {float: left; white-space: nowrap;}
        .forgot-pass {white-space: nowrap; color: $red; font-size: 13px; margin-left: 10px; line-height: 28px; float: left;}
        .language-form {float: right; display: inline-block; white-space: nowrap; min-width: 111px;
            span.select{line-height: 28px; padding-right: 38px;}
            select {height: 28px; width: 100%;}
        }
    }
}
#up {position: absolute; right:0; top:-80px;}
#contactlink {position: fixed; right:0; top:50%; margin-top: -72px;
	&:hover {@include box-shadow(2px, 2px, 5px, #333);}
	.popup-form {display: none;}
}
.contact-form {@extend .clearfix; background: url(../images/contact.png) no-repeat 246px bottom;padding-bottom: 46px;margin-bottom: 21px;
	input{width: 176px;
		&:last-child {float: right;}
	}
}
#register-ct.popup-form,#login-ct.popup-form {
	input {width: 235px;}
}
#login-ct.popup-form {
	.login-social {padding:0px 28px 20px;
		.divide{border-top: 1px solid #d9d8d8; text-align: center; color: #888787; margin-bottom: 20px;
			span {white-space: nowrap; padding:0 10px;font-size: 13px; background: #fff; display: inline-block; margin-top: -20px;}
		}
		a.gplus-button {margin-right: 15px;}
	}
	.bottom-form {
		p{display: inline-block; float: left;font-size: 13px; margin-right: 10px; line-height: 28px; margin-bottom: 0}
	}
}
/* Android page */
.apps-grid-content {background: #fff;padding:23px 0 13px 17px;
}
ul.apps-list {  @extend .clearfix; 
	li {position: relative; @include box-sizing(border-box); width: 138px; min-width: 138px; margin-right: 13px; float: left; height: 212px;border:1px solid #e6e6e6; border-radius: 2px; padding:10px 7px 30px;  margin-bottom: 19px;
		.thumb { text-align: center;
			img {width: 112px; height: 112px; margin:0 5px 5px; 
			}
		}
		.name-app {font-size: 14px; font-weight: normal; margin-bottom: 2px;overflow: hidden;text-overflow: ellipsis;text-transform: uppercase;white-space: nowrap;max-width: 100%;}
		p.com {font-size: 14px; color: #797979;}
		.bottom {position: absolute; bottom:6px; left:9px;width: 120px;
			.ratings {float: left;}
			a {color: $bluelink; float: right; line-height: 19px; text-transform: uppercase; font-size: 12px;}
		}
		&:hover {@include box-shadow(0,0,6px,#888);}
	}
}
.more-apps { text-align: center;
	a { display: inline-block; background:$black1; color: #fff; text-transform: center; width: 160px; height: 34px; line-height: 34px; 
		&:hover{opacity: 0.8;}
	}
}
/* Detail page */
.top-content {background: #fff;@extend .clearfix; padding:20px 0 30px;}
.category-app { background: #e5e5e5;height: 43px; @extend .clearfix;
	li { float: left; text-transform: uppercase; padding:0 51px; line-height: 43px; white-space: nowrap;
		&.active { text-align: left; padding:0; position: relative;
			> a {color:#fff;  padding:0 51px 0 23px;display: block; background: url(../images/icons/title-top.png) no-repeat 96% center $bluebg;}
			> ul {display: none; position: absolute; top:43px; left:0; padding:10px 0; background: #fff; border:1px solid #e5e5e5;max-height: 400px;width: 100%; z-index: 9; overflow-y: auto; overflow-x:hidden;
				li {display: block; padding:5px 10px; text-transform: none; line-height: normal; float: none;}
			}
		}
	}
}
.breadcrumb {margin-top: 20px; background: #fff; @extend .clearfix;
	li {float: left; display: inline-block; margin-right: 10px; line-height: 30px; white-space: nowrap;
		&:after {content:"\203A"; padding-left: 7px;}
		.home {background: url(../images/icons/home.png) no-repeat 0 0; display: inline-block;width: 22px; height: 20px;
			&:hover {background-position: 0 bottom;}
		}
		&:last-child {
			&:after{content:""}
		}
		span {color: $bluelink;}
	}
}

.detail-app {@extend .clearfix; border-top: 1px solid #d8d8d8; padding: 10px 5px 0;
	.thumb {margin-right:25px;  float: left; display: inline-block; width: 200px; text-align: center; height: 200px;
		img {width: 100%; height: 100%;}
	}
	.info {width: 765px; float: left;
		.one {float: left;
			h2 {font-size: 30px; font-weight: normal; margin-bottom: 10px;}
			h3 {font-size: 20px; text-transform: uppercase; color: $bluebg; margin-bottom: 5px; font-weight: normal;
				a.free-button {margin-left: 5px; vertical-align: text-bottom;}
			}
			p { line-height: 27px;}
			.ratings1 {float: left; margin-right: 10px;}
			.setup-button {margin:10px 0;clear: both; float: left;}
		}
		.two {text-align: right; float: right; padding-top: 10px;
			p {line-height: 22px; white-space: nowrap;}
		}
		.barcode {float: right;
			img {border:1px solid #dfdfdf; width: 151px; height: 151px;margin-left:10px; border-radius: 2px;}
		}
	}
	.sharetool {margin-top: 15px;}

}
.description {
	.slider4 {border-bottom: 1px solid #dfdfdf;
		.slides {
			li {margin:0 5px;width: 159px;}
		}
	}
	.desc-text {max-height: 117px; overflow: hidden; padding:15px; padding-bottom: 15px; border-bottom: 1px solid #e5e5e5; margin-bottom: 10px;
		ul,ol {margin-left: 20px;}
	}
	a.viewmore,a.viewless {margin-left: 312px; padding-top: 10px;}
}
.bl-fb {font-size: 20px;font-weight: normal;padding-bottom: 5px; border-bottom: 1px solid #e5e5e5; margin-bottom: 5px; padding-left: 10px;}
.fb-comment {background: #f2f2f2; margin:10px;
	padding:30px 10px; border:1px solid #cfcfcf;
}
.related-app { @extend .clearfix;
	h3 {margin-top: 15px;}
	.slider4 { margin: 0px 15px 10px; padding:0 16px 15px;
	    .apps-list {
	        li {margin:27px 19px 0;}
	    }
	}
}
.related-com {@extend .related-app;}
/* Detail computer page */
.detail-app.computer-app {padding:15px 0;
	.info-cp { float: left;width: 585px;
		h2.app-name {font-size: 30px; margin-bottom: 20px;font-weight: normal;}
		.thumb { width: auto; height: auto; margin-right: 38px;
			img {border: 1px solid #d1d1d1; width: 148px; height: 186px;}
		}
		.one {float: left;width: 396px;
			p {margin-bottom: 10px;}
			.ratingp { line-height: 27px;}
			.ratings1 {float: left; margin-right: 5px;}
			.free-button {margin-right: 5px;
				&+a {color: $bluelink}
			}
			.dl-button-org {margin-bottom: 10px;}
		}
	}
}
.info-table { width: 413px; min-height: 255px; border:1px solid #999;
	h3.head {background: #535353; font-size: 20px; font-weight: normal;height: 37px; line-height: 37px; color: #fff; padding-left: 15px;}
	ul {
		li{padding:5px 5px 5px 15px;
			&:nth-child(2n){background: #ecf2f4;}
			span{display: inline-block;}
			.label {width: 120px;}
			&.com {
				.value {color:$bluelink;}
			}&.download {
				.value {color:#ff9416;}
			}
		}
	}	
}
.related-soft {
	.block-title {height: 43px; line-height: 43px;}
    ul {
        li {padding-bottom: 5px; margin-bottom: 5px;
            .thumb {
                img {float: left; margin-right: 5px; width: 45px;}
            }
            .details {overflow: hidden;
                h4.name-app {font-size: 14px; font-weight: normal; white-space: nowrap; overflow: hidden;text-overflow:ellipsis;}
                p {font-size: 11px; color: #797979;}
                .downtimes {color: $bluelink; background: none; padding-left: 0; font-size: 11px;}
            }
            &:last-child {border-bottom: none;}
        }
    }
}
.description-cp  {@extend .description;
	.desc-text {max-height: none; border-bottom: 0;
		ul { margin-left: 0;
			li {background: url("../images/icons/blue-dot.png") no-repeat scroll 10px 7px rgba(0, 0, 0, 0);
				clear: both;
				margin-bottom: 10px;
				padding-left: 25px;
				padding-right: 10px; list-style-type: none;}
		}
	}
}
.popular-software {
	ul {@extend .clearfix; padding:15px 30px;
		li {width: 49%; padding-right: 10px; display: inline-block;vertical-align: top; border-bottom: none;@include box-sizing(border-box);
			.thumb {
				img {margin-right: 15px;}
			}
		}
	}
}
/* Mobile Tip */
.top-view {height: 43px; line-height: 43px; background: #fff; margin-bottom: 15px;
	.block-title {height: 43px; line-height: 43px; display: inline-block; padding:0 30px; margin-right: 10px; float: left;}
	a {white-space: nowrap; max-width: 550px; overflow: hidden;text-overflow:ellipsis; font-weight: bold; font-size: 17px; display: inline-block;}
}
.mobile-tip-ct {background: #fff; @extend .clearfix;}
.small-breadcrumb {@extend .clearfix; border-bottom: 1px solid #e5e5e5; padding-left: 28px;
	ul {
		li {float: left; display: inline-block; margin-right: 5px; font-size: 13px; line-height: 27px;
			&:after {content:"\203A"; padding-left: 3px;}
			&:last-child {
				&:after{content:""}
			}
		}
	}
}
.news2col {padding:10px 22px 15px 28px; @extend .clearfix; margin-bottom: 20px;
	.left,.right {width: 48%;}
	h3.title {font-size:17px; color:#0087c1;  border-bottom: 1px dotted #ccc; line-height: 30px;}
	ul {
		li {padding:5px 0; border-bottom: 1px dotted #ccc; line-height: 25px;
			.thumb {
				img {float:left;width: 50px; height: 50px; margin-right: 10px;}
			}
			&:hover {color:#0087c1;}
		}
	}
}
.hottip {margin:auto;background: url(../images/hottip.jpg) no-repeat 0 0;margin-bottom: 15px; height: 46px;width: 713px; line-height: 46px; padding-left:152px; @include box-sizing(border-box); white-space: nowrap; overflow: hidden; padding-right: 25px; text-overflow:ellipsis; font-size: 17px; color: #fff;}
.list-news-big {
	li{padding:10px 22px 35px 28px;border-bottom: 1px dotted #ccc;
		h3{font-size: 17px; line-height: 25px; margin-bottom: 4px;}
		&.top {
			h3 {color:#0087c1; }
		}
		.date-time {color: #787878; margin-bottom: 18px;}
		.thumb img {width: 150px; height: 120px; margin-right: 20px; float: left;}
		.detail {overflow: hidden;
			p {margin-bottom: 10px; max-height: 76px; overflow: hidden; line-height: 19px;}
			.continue-r {display: block; clear: both;}
		}
	}
}
.paging { text-align: center; margin:30px 0;
	ul {
		li {display: inline-block; color: #fff; vertical-align: top; width: 26px; height: 26px; text-align: center; line-height: 26px; margin-right: 2px; background-color: #3d3d3d;
			&:hover {opacity: 0.8;
				a {color: #fff;}
			}
			&.active {background-color: $bluebg;}
		}
	}
}
/* Detail Tip */
.detail-tip { background-color: #fff; padding:20px;
	h2.title {color: $bluelink; font-size: 25px; font-weight: normal; margin-bottom: 5px;}
	.date-time { color: #858585;}
	.shortdesc {line-height: 24px; margin:15px 0; font-weight: bold;}
}
.related-tip-top{margin:20px 0;
	ul{
		li {border:none;float: none;padding-bottom: 0; width: 49%;@include box-sizing(border-box); display: inline-block;vertical-align: top; margin-bottom: 10px;
			a {color:$bluelink;}
		}
	}
}
.content-t {
	p {margin-bottom: 10px; line-height: 24px;}
	img {display: block; margin:10px auto;}
}
.related-tip{margin:20px 0;
	h3 {font-size:15px; }
	ul{
		li {border:none;float: none;padding-bottom: 0; margin-bottom: 10px;}
	}
}
.share-tip {
	.like {background-color: #f2f2f2;padding:5px 10px; margin-bottom: 15px;}
	.fb-comment {margin:10px 0}
}
.follow {margin-bottom: 15px; border-radius: 7px; border:1px solid #b9b9b9; padding:10px; 
	.left {margin-right: 10px;}
}
/* About page */
.block-about{
	.block-title {height: 43px; line-height: 43px; background-image: none;}
}
.about { background: #fff; padding-bottom: 30px;
	.block-title {height: 43px; line-height: 43px; padding-left: 40px;}
	.ab-content {padding:15px;
		p {line-height: 30px; margin-bottom: 30px;}
	}
}
.sw-list {background: #fff;}
/* Profile download */
.left-profile { background: #fff; margin-bottom: 15px;
	.title {border-bottom: 1px solid #ccc; padding: 7px 10px; line-height: 30px;
		img {border:1px solid #878787; border-radius: 7px; margin-right: 5px; vertical-align: middle;}
	}
	ul { padding:10px 10px 15px 15px ;
		li {line-height: 32px; 
			a { padding-left: 40px; background: url(../images/left-profile.png) no-repeat 0 0;
				&:hover,&.active{color: $bluelink;}
				&.cd {background-position: 0 0;}
				&.cd:hover,&.active {background-position: 0 -182px;}
				&.ul {background-position: 0 -36px;}
				&.ul:hover,&.active {background-position: 0 -218px;}
				&.dl {background-position: 0 -71px;}
				&.dl:hover,&.active{background-position: 0 -253px;}
				&.tv {background-position: 0 -99px;}
				&.tv:hover {background-position: 0 -281px;}
				&.dd {background-position: 0 -134px;}
				&.dd:hover,&.active {background-position: 0 -316px;}
			}
		}
	}
}
.top-user {
	.block-title {@extend .clearfix;
		h3 {font-weight: bold;
			span {font-size:13px; float: right; text-transform: none;}
		}
	}
	.list-user { padding:10px;
		li { margin-bottom: 12px; @extend .clearfix;
			img {float: left; margin-right: 7px; width: 40px; height: 40px;}
			a {text-transform: capitalize;}
			span.point {font-size: 12px; display: inline-block; width: 145px;}
		}
	}
}
.requesttl {
	form {padding:7px 7px 20px;
		input,select,textarea {height: 24px; line-height: 24px\9; border:1px solid #dcdcdc;padding:0 5px; width: 100%; @include box-sizing(border-box); margin-bottom: 10px; font-size: 12px;}
		textarea {resize: none;line-height: normal; padding:5px; height: 143px;}
		.infosp {font-size: 13px; margin:5px 0;
			a {color: $bluelink;}
		}
	}
}
.tl-list {background: #fff; 
	.breadcrumb {margin:0; padding:7px 0 0 15px; overflow: hidden;}
}
.tl-list-content { padding-bottom: 20px;
	li {padding:15px 25px; border-bottom: 1px solid #ccc; @extend .clearfix;
		&:first-child {border-top: 1px solid #ccc;}
		.thumb {
			img {width: 107px; height: 144px; margin-right:40px; float: left; }
		}
		.detail {
			h3.title {font-size: 18px; margin-bottom: 5px; font-weight: normal;}
			a {color: $bluelink;}
			p {margin-bottom: 5px;}
		}
	}	
}
.tv-list-content {
	li {
		.thumb {
			img {width: 127px; height: 173px; border:1px solid #e5e5e5; margin-right: 30px;}
		}
		.detail {overflow: hidden;}
	}
}
.reading-bar {background: #d2d2d2; height: 10px; margin:8px 0; width: 223px; border-radius: 7px;
	.percent {background:#19a1db; height: 10px; border-radius:7px 0 0 7px }
}
.upload-content {background: #fff; @extend .clearfix;
	.title { border:1px solid #e5e5e5; height: 43px; line-height: 43px; padding-left: 60px; padding-right: 15px;
		p {display: inline-block; float: left; line-height: 43px;}
		a.ul-button-green {float: right; margin:5px 0;}
	}
}
.upload-form { padding:27px 60px 100px; @extend .clearfix;
	.img-left {float: left;margin-right: 70px; width: 130px;
		img {width: 116px; height: 176px; padding:5px; border:1px solid #ccc;}
	}
	.right-form { width: 567px; float: left;
		label { display: block; margin:10px 0 5px;
			span {color: $red;}
		}
		input,textarea,select {width: 100%; @include box-sizing(border-box); padding-left:5px; height: 30px; line-height: 30px\9; border: 1px solid #ccc;border-radius: 2px;}
		textarea {height: 94px; padding-top: 5px;}
		.wide {@extend .clearfix;
			.left,.right {width: 48%;}
		}
		p{display: block; margin:15px 0 10px;}
		button {margin-top: 20px; width: 98px; text-transform: uppercase;}
	}
}
#uploadfile {display: none;}
/* Tai lieu */
.documents {background: #fff; @extend .clearfix;
	.tl-banner {margin-bottom: 15px 10px;}
	h3.title {text-transform: uppercase; border-bottom: 1px solid #ddd; line-height: 25px; padding-left: 15px; font-size: 15px;padding-top:  5px; margin-bottom: 25px;}
	.slider4 { margin:15px 10px; padding:0 27px 15px;
		.slides {
			li {margin:0 5px; @include box-sizing(border-box); text-align: center;
				.img-viewed {float: left; margin-bottom: 10px;
					&:hover {@include box-shadow(0,0,6px,#888);}
				}
				img {border:1px solid #e5e5e5; float: left;
				}
				p.viewed {float: left;margin: -2px 0 0px 1px; height: 23px; line-height: 23px; display: block; width: 129px;color:#fff;font-size:12px;background: url(../images/eye.png) no-repeat 27px center #424242;padding-left: 57px; @include box-sizing(border-box);}
				p.author {color: #6b6b6b;font-size: 11px;}
			}
		}
		.flex-direction-nav a {top:100px;}
	}
	
}
/* Thu thuat MT */
.top-software { padding-bottom: 15px;
	ul {max-height: 314px; overflow: hidden;}
	.viewmore,.viewless  {padding-left: 15px; margin-top: 10px;}
}
.tipcp-list {
	li{ margin-bottom: 15px; @extend .clearfix;
		.thumb {
			img {float: left; width:86px; height: 86px; border-radius: 5px; margin-right: 20px;}
		}
		.detail {
			h3 {font-size: 17px; margin-bottom: 5px;}
		}
	}
}
/* Sach detail */
.documents-detail {background: #fff;  @extend .clearfix;
	.breadcrumb {padding-left: 15px; margin-top: 0;}
}
.documents-detail-ct {padding:20px; border-top: 1px solid #e5e5e5;
	.img-left {
		img {width: 208px; height: 284px; float: left; margin-right:20px; }
	}
	.detail {
		h1.sname {font-size: 30px; margin-bottom: 10px;}
		p{ margin-bottom: 10px;
			a {color: $bluelink;}
		}
		.bottom{white-space: nowrap;}
		.wishlist-button {margin-left: 10px;}
	}
	.sharetool {margin-top: 15px; width: auto;}
}
.sdct {
	h3.title {border-bottom:1px solid #e5e5e5; font-size: 15px;  margin: 20px 0; text-transform: uppercase;}
	h1 {font-size: 20px; margin-bottom: 15px;}
	p {line-height: 30px; margin-bottom: 20px;}
}
/* Doc sach */
#header-book{
	height: 55px; background: #2a2a2a; @extend .clearfix;
	.backhome {float: left; margin:10px 0 12px 13px;}
	.right {width: 188px;}
}
.text-size{height: 55px;position: relative; float: left;
	#aa {float:left;color: #fff; display: inline-block;width: 88px; line-height: 55px; font-size: 30px; background: url(../images/icons/r-ar.png) no-repeat 47px center;}
} 
.text-action {
width: 480px;display: none; position: absolute; top:55px; right:-100px; background: #edf0f0;z-index: 99;
	label {font-size: 16px;float: left;margin-right: 8px;width: 55px;
			line-height: 39px;
			margin-bottom: 5px;
		}
	.btn {display: inline-block;margin-bottom: 0;font-weight: normal;text-align: center;
		vertical-align: middle;cursor: pointer;background-image: none;border: 1px solid transparent;white-space: nowrap;padding: 6px 12px;font-size: 14px;line-height: 1.42857143;border-radius: 4px;
		-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;}
	.btn:focus, .btn:active:focus, .btn.active:focus {
		outline: thin dotted;
		outline: 5px auto -webkit-focus-ring-color;
		outline-offset: -2px;}
		.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active {
		color: #333;
		background-color: #e6e6e6;
		border-color: #adadad;
		}
	.btn-default {
		color: #333;
		background-color: #fff;
		border-color: #ccc;
		}
	.background-color {
		width: 110px;
		margin-right: 10px;
		}
	.btn-sepia {
		color: #787878;
		border-color: #d4c7a2;
		background: #f0e8d1;
		}
	.btn-night {
		color: #fff;
		border-color: #222;
		background: #555;
		}
}
.font-style {
	border: solid #d2d0d0;width: 100%;float: left;border-width: 0 0 1px;
	padding: 13px 30px 0;box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;

	li {width: 100%;float: left;list-style: none;margin-top: 16px;
		&:first-child {margin-top: 15px;}
		select {
			padding-left: 25px;width: 357px;float: left;height: 39px;background: #fff;color: #272727;font-size: 17px;outline: 0;border: 1px solid #ccc;		
		}
		div {float: left; padding:0;
			&:nth-child(1){width: 62%;}
			&:nth-child(2){width: 37%;}
		}
		.decrease-size, .increase-size {width: 81px;height: 37px;font-size: 16px;cursor: pointer;
			color: #333;background-color: #fff;border:1px solid #ccc; border-radius: 4px; float: left;
			&:hover {background-color:transparent; }
		}
		.increase-size {font-size: 21px; margin-left: 10px;}
		.decrease-size {font-size: 16px;}
	}
}
.effect {width: 100%;padding: 18px 15px 17px 25px;float: left;
	}
.iconmenu {position: relative;
	a { margin:10px 0 12px 13px; display: inline-block; float: left;}
}
.table-of-contents { display: none;
	position: absolute;
	z-index: 100;
	top: 55px;
	right: 0;
	.list-book-mark {
		width: 554px;
		height: 354px;
		background: #fff;
		li {padding: 12px 10px 12px 0;font-size: 13px;
			color: #949494;
			width: 100%;
			float: left; cursor: default;
			border-bottom: 1px solid #ddd;
			> div {width: 100%;
					float: left;
					margin-bottom: 10px;
					span:first-child {color: #0088d5;
					float: left;
					width: 80%;
					margin-left: 3%;}
					span:last-child {float: right;
					width: 15%;
					text-align: right;
					margin-right: 2%;
				}
			}
			&:hover {background: #fafafa;}
		}
	}
}
.bookmark {float: right;
	> a { background: url(../images/icons/label.png) no-repeat right 0; width: 33px; height: 54px; display: inline-block;}
	#thongbao {
		display: none;
	}
	.popup-form {display: none;}
}
.ad-lib {
	width: 500px;
	background: #fff;
	margin: 9px 8px;
	float: left;
	.popup-content {
		background: #fff;
		padding: 25px 0 40px;
		display: inline-block;
		text-align: center;
		float: left;
		width: 100%;
		p{font-size: 20px;
			text-align: center;
		}
	}
}
.content-book { @extend .clearfix; margin-top: 15px;
	.inner  {background: #fff;}
	.top {border-bottom:1px solid #e5e5e5; height: 32px;
		.breadcrumb {float: left; margin:0 0 0 20px;}
		.sharetool {margin:5px; width: 350px;}
	}
}
.reading { padding:15px 20px; @extend .clearfix; font-size: 17px;
	.left-book {width: 49%; padding-right: 20px; padding-bottom: 10px; border-right: 1px solid #ddd; float: left;@include box-sizing(border-box);}
	.right-book {float: left;padding:0 20px 10px; width: 50%; @include box-sizing(border-box);
		.pageone {padding-left:84px;
		}
		p,li {margin-bottom: 10px; }

	}
	p {line-height: 30px;}
}
.reading-bar-bottom {white-space: nowrap; margin-top: 10px;height: 59px;width: 100%; background: #525252; color: #fff; @include box-sizing(border-box); padding:19px 25px 9px; 
	.bar {background:#9e9e9e; height:3px; position: relative;
		&:before,&:after {top:-3px;background: url(../images/icons/pull.png); content:""; height: 10px;width: 10px; display: inline-block; position: absolute;}
		&:before {left:-10px; }
		&:after {right:-10px}
		.handle {cursor: move; width: 23px; height: 23px; background:url(../images/icons/handle.png) no-repeat 0 0; position: absolute; top:-10px;}
	}
	.pagen { @extend .clearfix; 
			h3 {font-size:18px; font-weight: normal; text-align: center;margin-top: 7px; }
			p { margin-top: -15px;}
		}
 }
 #downloadbar {display: none; background: #424242; height: 58px; position: fixed; top:0; left: 0; width: 100%;
 	.inner {height:100%;background: url(../images/logo1.png) no-repeat right center;}
 	.dl-button-bar {display: inline-block; background: url(../images/dl-bb.png) repeat-x 0 0;border-radius: 5px; border:3px solid #fff; height: 46px; line-height: 46px; text-transform: uppercase;color: #fff; font-size: 17px;padding:0 10px;
 		-webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.4);
		-moz-box-shadow:    0px 3px 6px 0px rgba(0, 0, 0, 0.4);
		box-shadow:         0px 3px 6px 0px rgba(0, 0, 0, 0.4);float: left; margin-top: 20px;
 		span {display: inline-block; background:url(../images/icons/dl-v.png) no-repeat left center; min-height: 21px; padding-left: 42px;}
 	}
 	h3 {color:$bluebg; padding-left: 190px; padding-top: 25px; vertical-align: middle;}
 }
 .search-list-app {background: #fff;
 	.block-title {text-transform: none;}
 	.app-block{border-bottom: 1px dotted #343434;
 		.sharetool {width: 511px; display: block; float: left;margin-top: 15px;}
 	}
 }
.col-right.outer {margin-top: 15px;}
#slideshow-book {position: relative; outline: none;
	.slider_slide_wrapper {width: 960px; @include box-sizing(border-box); padding: 30px;

	}
	.slider_slides_wrapper_custom{
		.slider_button {margin: -28px 0 0;background: url(../images/icons/next-pre1.png) no-repeat 0 0 #c2c2c2;
		 width: 29px; height: 56px; cursor: pointer;
		 	&:hover {background-position: right bottom;}
		 	&.disabled {cursor: default;}
		}
		.slider_prev_button {left:-60px;
			&:hover {background-position: right 0;}
			&.disabled {background-position: 0 0;} 
		}
		.slider_next_button {right:-60px; background-position: 0 bottom;
			&.disabled {background-position: 0 bottom;} 
		}
	}
	.slides >li {
		img {width: auto;}
	}
}
