@import "modules.scss";
/* startup page */
.startup {background: url(../images/home-bg.jpg) repeat 0 0; background-size: 100%; @extend .clearfix; color:#fff;
	.inner {width: 985px; margin:auto; padding:100px 0; text-align: center;}
	.logo {margin-bottom: 90px;}
	.listpages{ @extend .clearfix;
		li{float: left; padding:17px 17px 26px; width: 157px; margin:0 3px;
			a.title-page {font-size: 11px; width: 169px; height: 45px; text-align: center; line-height: 45px; margin-top: 40px; display: block; background: url(../images/startup-button.png) no-repeat 0 0;
				&.coming {background-position: 0 bottom;}
			}
			&:hover{background:url(../images/overlay.png) repeat 0 0; border-radius: 5px;
				a.title-page {background-position: 0 -64px;
				}
			}
		}
	}
	.home-copyright {font-size: 15px;margin-top: 110px;}
}
/* Home page */
#header {}
.top-header{background: $black1; height: 37px; width: 100%;
	ul { float: right;
		li {float: left; display: inline-block; margin-right: 10px; color:#fff; line-height: 37px;
			> a > img {margin-top:3px;}
			.inline{padding: 0 5px;}
			&:last-child {margin-right: 0;
				.inline {padding-right: 0;}
			}
		}
	}
	.popup-form {display: none;}
}
.mid-header {height: 56px; padding:15px 0;
	.inner {@extend .clearfix;}
	.logo {width: 467px; float: left;
		strong{display: none;}
		img{max-height: 56px; max-width: 389px;}
	}
}
.top-search{float: right; width: 531px; margin:5px 0;height: 40px; border: 1px solid #b3b3b3; 
	.input-search{float: left; width: 270px; line-height: 40px\9; height: 40px; outline: none; padding-left: 25px; border: none;}
	span.select {width: 138px; height: 40px; line-height: 40px; box-sizing: border-box;}
	select{width: 138px; height: 40px; white-space: nowrap; text-overflow:ellipsis; padding-left: 10px; border: none;  outline: none;}
	button{margin-top: -1px; border: none;float: right; background:url(../images/icons/search.png) no-repeat center center $bluebg; color:#fff; width: 98px; height: 42px; text-indent: -99999px; }
}
.main-menu { background: #2a2a2a; height: 55px;
	li{float: left; padding:0 17px; color: #fff; line-height: 55px; border-left: 1px solid #5f5f5f;
		img {vertical-align: middle; padding-right: 9px;}
		&:hover {background: #424242;}
		&:last-child {padding-right: 0; float: right;
			img {padding-right: 0;}
		}
	}
}
#content {margin-top:15px; }
.col-left {float: left; width: 212px; margin-right: 14px;}
.main-content {width: 774px; float: left;}
.col-right {float: right; width: 286px; margin-left: 14px;}
.col-mid {width: 474px; float: left}